i.email, span.email {
color: #aaa;
}
i.facebook, span.facebook {
color: #45619d;
}
i.twitter, span.twitter {
color: #00aced;
}
i.google, span.google {
color: #dd4b39;
}
i.xing, span.xing {
color: #fff;
}