.overlaybar {
	position:absolute;
	padding:3px 8px 0px 30px;
	vertical-align:middle;
	background: rgba(0,0,0,0.2);
	min-height:36px;
	color: #ccc;
	text-shadow: 0 0 5px black;
	input[type="radio"], input[type="checkbox"] {
		margin-top:2px;
	}
}

.overlaybar:hover {
	background: rgba(0,0,0,0.5);
}

.overlaybar.notvisible {
	background: transparent;
	pointer-events: none;
}
.overlaybar.notvisible:hover {
	background: transparent;
}

.overlaybar .btn {
	text-shadow: none;
}

.overlaybar .btn-link {
	text-shadow: 0 0 5px black;
}

.overlaybar .overlaybarbutton {
	font-size:20px;
	vertical-align:middle;
	position:absolute;
	left: 3px;
	top: 1px;
	padding:6px;
	display:block;
	color:#ccc;
	z-index:15;
	opacity:0.7;
	pointer-events: auto;
}

.overlaybar .overlaybarcontent {
	display:inline-block;
	margin-left:.5em;
	margin-bottom:0px;
	max-width:60%;
}

.overlaybarcontent > * {
	padding-right:.5em;
}

.overlaybarcontent .input-group {
	max-width:160px;
}

.overlaybar label {
	padding-top:7px !important;
}

.overlaybar .overlaybaroverlay {
	display:none;
	opacity: 0.7;
	text-align:left;
	margin-left:0.5em;
	padding-top:2px;
}

.overlaybar.notvisible {
	.overlaybarcontent {
		display: none;
	}
	.overlaybaroverlay {
		display: block;
	}
}

.overlaybar .form-group > * {
	float: left;
	padding-top: 0px;
}