
// ** Custom Variables **
// --------------------------------------------------

// Colors
$background: #e5e5e5;
$componentbg: #f5f5f5;
$componentfg1: #262626;
$componentfg2: rgba(0,0,0,.5);
$componentfg3: rgba(0,0,0,.2);
$componentfg4: #737373;
$sidepanebg: white;
$bordercolor: #ccc;
$actioncolor1: rgb(132,184,25);
$actioncolor2: rgb(0,149,52);
$audiovideolevel: #9dd53a;



// ** Fontawsome changed variables **
// original at libs/fontawesome/_variables.scss
// --------------------------



// ** Bootstrap changed variables **
// original at libs/bootstrap/_variables.scss
// --------------------------------------------------

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $background;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          13px;
