/bin/*
/pkg/*
/src/code.google.com
/src/github.com
/src/golang.struktur.de
/*.pprof
/server.conf*
/*.log
/changelog*.txt
/src/styles/.sass-cache
/static/fonts/*
/static/js/main.min.js
/static/css/*.css.map
/tokens.txt
/dist
*~
vendor/*
/dist_*
/build/out/
/.sass-cache
/extra
/extra.d
/src/i18n/*.mo
server.key
server.csr
server.crt
server.pem
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.status
configure
install-sh
missing
stamp-h1
/node_modules
