<div class="audiovideo">
  <div class="audiovideoBase">
    <div class="localContainer">
        <video class="localVideo" autoplay="autoplay" muted="true"></video>
        <div class="overlayLogo"></div>
    </div>
    <div class="remoteContainer">
      <div class="remoteVideos nicescroll"></div>
      <div class="miniContainer" ng-class="{talking: talking}">
        <video class="miniVideo" autoplay="autoplay" muted="true"></video>
      </div>
    </div>
  </div>
  <div class="overlayActions">
    <button class="btn btn-link" title="{{_('Standard view')}}" ng-click="setRenderer('onepeople')"><i class="fa fa-table" ></i></button>
    <button class="btn btn-link" title="{{_('Kiosk view')}}" ng-click="setRenderer('conferencekiosk')"><i class="fa fa-user"></i></button>
    <button class="btn btn-link" title="{{_('Classroom')}}" ng-click="setRenderer('classroom')"><i class="fa fa-graduation-cap"></i></button>
  </div>
</div>