<div class="buddyPicture">
	<img class="picture" ng-show="user.buddyPicture" ng-src="{{user.buddyPicture}}" alt="" />
	<div class="collapse showTakePicture" collapse="!showTakePicture">
		<div class="videoPicture">
			<div class="videoPictureVideo" style="width:200px; height: 200px">
				<div class="videoFlash"></div>
				<div class="countdownPicture" ng-show="countdown.num" ng-bind="countdown.num"></div>
				<video ng-show="!previewPicture" autoplay="autoplay" width="200" height="200"></video>
				<canvas class="videoPic" style="display:none" width="46" height="46"></canvas>
				<canvas class="videoPrev" style="display:none" width="200" height="200"></canvas>
				<img class="preview" ng-class="{previewPicture: previewPicture}" ng-show="previewPicture" ng-src="{{preview}}" width="200" width="200" alt="" />
				<a class="btn btn-xs btn-success btn-takePicture" ng-disabled="countingDown || waitingForPermission" ng-show="!previewPicture && !countingDown" ng-click="takePicture()"> {{_('Take')}}</a>
				<a class="btn btn-xs btn-success btn-retakePicture" ng-disabled="waitingForPermission" ng-show="previewPicture" ng-click="retakePicture()"> {{_('Retake')}}</a>
			</div>
		</div>
		<div>
			<a class="btn btn-small btn-default" ng-click="cancelPicture()"> {{_('Cancel')}}</a>
			<a class="btn btn-small btn-primary" ng-disabled="!previewPicture || waitingForPermission" ng-click="setAsProfilePicture()"> {{_('Set as Profile Picture')}}</a>
		</div>
	</div>
	<a class="btn btn-small btn-success" ng-show="!showTakePicture" ng-disabled="waitingForPermission" ng-click="initPicture()"> {{_('Take picture')}}</a>
	<span ng-show="waitingForPermission">
		<i class="fa fa-spinner fa-spin"></i> {{_('Waiting for camera')}}
	</span>
</div>
