<div id="buddycondensed">
    <div class="buddycondensed buddy">
        <span class="desc" ng-if="listOverDefault().length > maxBuddiesToShow">+ {{listOverDefault().length - maxBuddiesToShow}} {{_("more")}}</span>
        <div class="defaultDisplayNum pull-left">
            <span ng-repeat="buddy in listDefault()">
                <span class="buddyPicture">
                    <i class="fa fa-user"/>
                    <img ng-show="buddy.Status.buddyPicture" alt ng-src="{{buddy.Userid | buddyImageSrc}}"/>
                    <span class="actions">
                        <span class="displayName">{{buddy.Userid|displayName}}</span>
                        <div class="btn-group">
                            <a class="btn btn-primary" data-action="call" title="Start video call"><i class="fa fa-phone"></i></a>
                            <a class="btn btn-primary" data-action="chat" title="Start chat"><i class="fa fa-comments-o"></i></a>
                        </div>
                    </span>
                </span>
            </span>
        </div>
        <div class="overDefaultDisplayNum">
            <span ng-repeat="buddy in listOverDefault()">
                <span class="buddyPicture">
                    <i class="fa fa-user"/>
                    <img ng-show="buddy.Status.buddyPicture" alt ng-src="{{buddy.Userid | buddyImageSrc}}"/>
                    <span class="actions">
                        <span class="displayName">{{buddy.Userid|displayName}}</span>
                        <div class="btn-group">
                            <a class="btn btn-primary" data-action="call" title="Start video call"><i class="fa fa-phone"></i></a>
                            <a class="btn btn-primary" data-action="chat" title="Start chat"><i class="fa fa-comments-o"></i></a>
                        </div>
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>
