<div class="collapse" collapse="!showUploadPicture">
	<div class="buddyPictureUpload">
		<canvas class="uploadPrev hidden"></canvas>
		<img class="preview" ng-class="{previewUpload: previewUpload}" ng-show="previewUpload" ng-src="{{previewUpload}}" />
		<p>Please choose a picture to upload</p>
		<div><input type="file"></div>
		<br>
	</div>
	<a class="btn btn-small btn-default" ng-click="showUploadPicture = false"> {{_('Cancel')}}</a>
	<a class="btn btn-small btn-primary" ng-click="setAsProfilePicture()"> {{_('Set as Profile Picture')}}</a>
</div>
