<div class="buddyPictureUpload collapse" collapse="!showUploadPicture">
	<div class="showUploadPicture">
		<div class="imageUtilites">
			<div class="moveHorizontal">
				<i id="arrow-left" class="fa fa-long-arrow-left"></i>
				<i id="arrow-right" class="fa fa-long-arrow-right"></i>
			</div>
			<div class="moveVertical">
				<i id="arrow-up" class="fa fa-long-arrow-up"></i>
				<i id="arrow-down" class="fa fa-long-arrow-down"></i>
			</div>
			<div class="resize">
				<i id="larger" class="fa fa-plus"></i>
				<i id="smaller" class="fa fa-minus"></i>
			</div>
		</div>
		<img class="preview" ng-class="{previewUpload: previewUpload}" />
	</div>
	<div class="alert alert-warning" ng-if="error.current">{{error.current}}<button type="button" class="close" ng-click="error.current = null"><span>&times;</span></button></div>
	<p ng-if="!previewUpload">{{text.initial}}</p>
	<p ng-if="previewUpload">{{text.again}}</p>
	<div><input id="uploadFile" type="file"></div>
	<br>
	<a class="btn btn-small btn-default" ng-click="reset()"> {{_('Cancel')}}</a>
	<a class="btn btn-small btn-primary" ng-click="usePicture()"> {{_('Set as Profile Picture')}}</a>
</div>
