<div id="buddycondensed">
    <div class="buddycondensed buddy">
        <span class="desc" ng-if="listOverDefault().length > maxBuddiesToShow">+ {{listOverDefault().length - maxBuddiesToShow}} {{_("more")}}</span>
        <div class="defaultDisplayNum pull-left">
            <span ng-repeat="buddy in listDefault()">
                <span class="buddyPicture"><i class="fa fa-user"/><img ng-show="buddy.Status.buddyPicture" alt ng-src="{{buddy.Userid | buddyImageSrc}}"/></span>
            </span>
        </div>
        <div class="overDefaultDisplayNum">
            <span ng-repeat="buddy in listOverDefault()">
                <span class="buddyPicture"><i class="fa fa-user"/><img ng-show="buddy.Status.buddyPicture" alt ng-src="{{buddy.Userid | buddyImageSrc}}"/></span>
            </span>
        </div>
    </div>
</div>
