<div class="chatcontainer" ng-class="{showchatlist: !currentRoomActive && layout.chat}">
	<div class="chatpane"></div>
	<div class="chatlist">
		<div class="chat visible active">
			<div class="chatheader"><div class="chatstatusicon" ng-click="activateRoom(currentRoom.id, true)"><i class="fa fa-angle-right"></i> <i class="fa fa fa-comments-o"></i></div><div class="chatheadertitle"><span>{{_("Chat sessions")}}</span></div> <div class="ctrl"><i ng-show="layout.chatMaximized" ng-click="toggleMax()" class="fa fa-compress"></i></div></div>
			<div class="chatbody">
				<div class="list-group nicescroll">
					<a ng-repeat="room in getVisibleRooms()" ng-click="activateRoom(room.id, true, true)" class="list-group-item" ng-class="{newmessage: room.pending, disabled: !room.enabled}">
						<span class="badge" ng-show="room.pending">{{room.pending}}</span>
                        <span ng-if="room.id !== ''">{{room.id|displayName}}</span>
                        <span ng-if="room.id === ''">{{_("Room chat")}} {{currentRoomName}}</span>
						<button ng-if="room.id !== ''" class="btn btn-sm btn-default" ng-click="hideRoom(room.id)">
							<i class="fa fa-trash-o"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
