<div class="chatcontainer" ng-class="{showchatlist: !currentRoomActive}">
	<div class="chatpane"></div>
	<div class="chatlist">
		<div class="chat visible active">
			<div class="chatheader"><div class="chatstatusicon" ng-click="activateRoom(currentRoom.id, true)"><i class="fa fa-angle-right"></i> <i class="fa fa fa-comments-o"></i></div><div class="chatheadertitle"><span>{{_("Chat sessions")}}</span></div></div>
			<div class="chatbody">
				<div class="list-group nicescroll">
				  <a ng-if="roomstatus" ng-click="activateRoom('', true)" class="list-group-item">
				  		<span class="badge" ng-show="getGroupRoom().pending">{{getGroupRoom().pending}}</span>
				    <i class="fa fa-users fa-lg"></i> {{_("Room chat")}}
				  </a>
				  <a ng-repeat="room in getVisibleRooms()" ng-click="activateRoom(room.id, true)" class="list-group-item" ng-class="{newmessage: room.pending}">
				  	<span class="badge" ng-show="room.pending">{{room.pending}}</span><i class="fa fa-user fa-lg"></i> {{room.id|displayName}}
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>
