<div class="modal-body">
  <div class="row head">
    <div class="col-xs-12">
      <form class="form">
        <div class="row">
          <div class="col-xs-7">
            <span class="search"></span>
            <input type="text" class="form-control">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 editlist">
      <table class="table table-bordered table-hover table-condensed">
        <tbody>
          <tr ng-repeat"contact in search">
            <td class="picture">
              <img ng-show="contact.Status.buddyPicture" ng-src="{{contact.Status.buddyPicture}}">
              <div ng-show="!contact.Status.buddyPicture" class="buddyPicture"></div>
            </td>
            <td class="name">
              <span>{{contact.Status.displayName}}</span>
            </td>
            <td class="action">
              <button class="btn btn-success">{{_('Add')}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
   <div class="row">
       <div class="col-xs-offset-10 col-xs-2">
         <button class="btn btn-default" ng-click="ok()">{{_('Done')}}</button>
       </div>
    </div>
</div>
