<div default-dialog>
  <div class="row head">
     <div class="col-xs-7" ng-if="contacts.length === 0">
      <p>{{_('You have no contacts.')}}</p>
    </div>
  </div>
  <div class="row" ng-if="contacts.length > 0">
    <div class="col-xs-12">
      <div class="editlist nicescroll">
        <table class="table table-hover table-condensed">
          <tbody>
            <tr ng-repeat="contact in contacts">
              <td class="picture">
                <img ng-show="contact.Status.buddyPicture" ng-src="{{contact.Status.buddyPicture}}">
                <div ng-show="!contact.Status.buddyPicture" class="buddyPicture"></div>
              </td>
              <td class="name">
                <span>{{contact.Status.displayName}}</span>
              </td>
              <td class="action">
                <button class="btn btn-danger" ng-click="removeContact(contact.Userid)">{{_('Remove')}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
