<div class="modal-header">
  <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" id="myModalLabel">
    {{_('Contacts Manager')}}
  </h4>
</div>
<div class="modal-body">
  <div class="row contactsContentHead">
    <div class="col-xs-offset-7 col-xs-5">
      <div class="pull-right">
      <button class="btn btn-success contactsAddBtn">
        {{_('Find new contacts')}}&nbsp;
        <i class="fa fa-users"></i>
        <i class="fa fa-plus"></i>
      </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 contactsEditList">
      <table class="table table-bordered table-hover table-condensed contactsTable">
        <tbody>
          <tr ng-repeat="contact in contacts">
            <td class="picture">
              <img ng-show="contact.Status.buddyPicture" ng-src="{{contact.Status.buddyPicture}}">
              <div ng-show="!contact.Status.buddyPicture" class="buddyPicture"></div>
            </td>
            <td class="name">
              <span>{{contact.Status.displayName}}</span>
            </td>
            <td class="action">
              <button class="btn btn-primary">{{_('Edit')}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
