<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{_('Close')}}</span></button>
  <h4 class="modal-title" id="myModalLabel">
    {{_('Contacts Manager')}}
  </h4>
</div>
<div class="modal-body">
  <div class="row contactsContentHead">
    <div class="col-xs-offset-7 col-xs-5">
      <div class="pull-right">
      <button class="btn btn-success contactsAddBtn">
        Find new contacts&nbsp;
        <i class="fa fa-users"></i>
        <i class="fa fa-plus"></i>
      </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 contactsEditList">
      <table class="table table-bordered table-hover table-condensed contactsTable">
        <tbody>
          <tr>
            <td class="picture">
              <div class="userAvatar"></div>
            </td>
            <td class="name">
              Mike
            </td>
            <td class="action">
              <button class="btn btn-info">{{_('Edit')}}</button>
            </td>
          </tr>
          <tr>
            <td class="picture">
              <div class="userAvatar"></div>
            </td>
            <td class="name">
              Mike
            </td>
            <td class="action">
              <button class="btn btn-info">Edit</button>
            </td>
          </tr>
          <tr>
            <td class="picture">
              <div class="userAvatar"></div>
            </td>
            <td class="name">
              Mike
            </td>
            <td class="action">
              <button class="btn btn-info">Edit</button>
            </td>
          </tr>
          <tr>
            <td class="picture">
              <div class="userAvatar"></div>
            </td>
            <td class="name">
              Mike
            </td>
            <td class="action">
              <button class="btn btn-info">Edit</button>
            </td>
          </tr>
          <tr>
            <td class="picture">
              <div class="userAvatar"></div>
            </td>
            <td class="name">
              Mike
            </td>
            <td class="action">
              <button class="btn btn-info">Edit</button>
            </td>
          </tr>
          <tr>
            <td class="picture">
              <div class="userAvatar"></div>
            </td>
            <td class="name">
              Mike
            </td>
            <td class="action">
              <button class="btn btn-info">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
