<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()">×</button>
    <h3 class="modal-title">{{_('Tour')}}</h3>
  </div>
  <div  class="modal-body">
    <p>{{_('Congratulations! Anonymous secure peer to peer chat and video calls are a short click away. Quickly get started with the features tour below. The tour can be accessed again under settings.')}}</p>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="$dismiss()">{{_('Cancel')}}</button>
      <button class="btn btn-primary" ng-click="goTour()">{{_('Go')}}</button>
    </div>
  </div>
</div>
