<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()">×</button>
    <h3 class="modal-title">{{_('Start your video calls now!')}}</h3>
  </div>
  <div  class="modal-body">
    <p>{{_('Go on, invite your friends and start your calls. You can restart the tour anytime you want in "Settings".')}}</p>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="endTour()">{{_('Exit Tour.')}}</button>
      <button class="btn btn-primary" ng-click="goTour()">{{_('Replay Tour')}}</button>
    </div>
  </div>
</div>
