<div class="presentation">
	<div class="presentationpane nicescroll">
		<div class="welcome container-fluid" ng-show="downloading">
			<h1>{{_('Loading presentation ...')}}</h1>
			<div class="progress">
				<span class="download-info">{{downloadSize|humanizeFilesize}} <span ng-show="downloading">/ {{downloadProgress}}%</span></span>
				<div class="progress-bar progress-bar-success"></div>
			</div>
		</div>
		<div class="welcome container-fluid" ng-hide="maxPageNumber !== -1 || downloading">
			<h1>{{_('Please upload a PDF document')}}</h1>
			<div class="center-block">
				<p>{{_('Documents are shared with everyone in this call.')}}</p>
				<p><button class="btn btn-lg btn-primary">{{_('Upload')}}</button></p>
				<p>{{_('You can drag files here too.')}}</p>
			</div>
		</div>
		<pdfcanvas ng-hide="maxPageNumber === -1 || downloading" />
	</div>
	<div class="overlaybar form-horizontal" ng-class="{notvisible: hideControlsBar}">
		<a class="overlaybar-button" ng-model="hideControlsBar" btn-checkbox btn-checkbox btn-checkbox-true="0" btn-checkbox-false="1" title="{{_('Presentation controls')}}"><i class="fa fa-cogs"></i></a>
		<form class="overlaybar-content form-group" ng-show="maxPageNumber !== -1 && !downloading">
			<a class="btn btn-prev" ng-click="prevPage()" ng-show="currentPageNumber &gt; 1" title="{{_('Prev')}}"><i class="fa fa-backward"></i></a>
			<span class="pageinfo"><input class="form-control input-sm" type="number" ng-model="currentPageNumber" /> / {{ maxPageNumber }}</span>
			<a class="btn btn-next" ng-click="nextPage()" ng-show="currentPageNumber &lt; maxPageNumber" title="{{_('Next')}}"><i class="fa fa-forward"></i></a>
		</form>
	</div>
</div>
