<div class="socialshare btn-group" ng-show="roomlink">
	<a title="{{_('Share by Email')}}" class="btn btn-link btn-sm" data-nw="email"><i class="fa fa-envelope fa-lg email"></i></a>
	<a title="{{_('Share on Facebook')}}" class="btn btn-link btn-sm" data-nw="facebook"><i class="fa fa-facebook fa-lg facebook"></i></a>
	<a title="{{_('Share on Twitter')}}" class="btn btn-link btn-sm" data-nw="twitter"><i class="fa fa-twitter fa-lg twitter"></i></a>
	<a title="{{_('Share on Google Plus')}}" class="btn btn-link btn-sm" data-nw="google"><i class="fa fa-google-plus fa-lg google"></i></a>
	<a title="{{_('Share on XING')}}" class="btn btn-link btn-sm" data-nw="xing"><i class="fa fa-xing fa-lg xing"></i></a>
</div>