<div class="socialshare btn-group" ng-show="roomlink">
	<a title="{{_('Room link')}}" target="_blank" rel="external" href="{{roomlink}}" class="btn btn-link btn-sm" data-nw="link"><i class="fa fa-link fa-lg link"></i></a>
	<a title="{{_('Invite by Email')}}" class="btn btn-link btn-sm" data-nw="email"><i class="fa fa-envelope fa-lg email"></i></a>
	<a title="{{_('Invite with Facebook')}}" class="btn btn-link btn-sm" data-nw="facebook"><i class="fa fa-facebook fa-lg facebook"></i></a>
	<a title="{{_('Invite with Twitter')}}" class="btn btn-link btn-sm" data-nw="twitter"><i class="fa fa-twitter fa-lg twitter"></i></a>
	<a title="{{_('Invite with Google Plus')}}" class="btn btn-link btn-sm" data-nw="google"><i class="fa fa-google-plus fa-lg google"></i></a>
	<a title="{{_('Invite with XING')}}" class="btn btn-link btn-sm" data-nw="xing"><i class="fa fa-xing fa-lg xing"></i></a>
</div>