<div class="fadetogglecontainer" ng-hide="peer">
    <div class="animate-show" ng-hide="showSettings">
        <div ng-switch="usabilityInfo">
          <div ng-switch-when="checking"><i class="fa fa-refresh fa-spin fa-4x pull-right"></i>{{_("Checking camera and microphone access.")}}</div>
          <div ng-switch-when="room">
            <i class="fa fa-hand-o-right fa-4x pull-right"></i>
            <p><i>{{_("Select one of the users from the online list to start a video call.")}}</i></p>
            <p><i>{{_("Hover over users in the list for more actions.")}}</i></p>
            <p><i>{{_("Double click on video for fullscreen when in a call.")}}</i></p>
            <p><i>{{_("Drag files into a chat window to share files with this room or person.")}}</i></p>
          </div>
          <div ng-switch-when="noroom" ng-controller="RoomchangeController">
            <h3 style="margin-top:0px">{{_("Create your room")}}</h3>
            <p><i>{{_("This is your room link:")}}</i></p>
            <p>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control roomdata-link-input" ng-model="roomdata.link" placeholder="{{_('Creating room link ...')}}" disabled>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-disabled="!roomdata.link" ng-click="changeRoomToId(roomdata.name)">{{_("Start")}}</button>
                </span>
              </div>
            </p>
            <p><i>{{_("Just click start")}}</i></p>
            <small>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-share-square"></i>{{_("Share this URL with the people you want to meet.")}}</li>
                <li><i class="fa-li fa fa-repeat"></i>{{_("You can use and re-use this room as many times as you want.")}}</li>
              </ul>
            </small>
          </div>
          <div ng-switch-when="usermedia"><i><i class="fa fa-hand-o-up fa-4x pull-right"></i>{{_("Please allow access to your camera and microphone.")}}</i></div>
          <div ng-switch-when="denied"><i><i class="fa fa-exclamation-triangle fa-4x pull-right"></i>{{_("Camera / microphone access required.")}}</i></div>
        </div>
        <div ng-show="usabilityInfo=='denied'" class="help-subline">
            <p><i>{{_("Please check your browser settings and allow camera and microphone access for this site.")}}</i></p>
            <p><a ng-click="testMediaAccess()" class="btn btn-primary"><span class="fa fa-refresh"></span> {{_("Retry")}}</a> <a ng-click="continueConnect(true)" class="btn">{{_("Skip check")}}</a></p>
            <p style="font-size:0.7em" ng-show="isChrome"><i><a rel="external" target="_blank" href="https://support.google.com/chrome/answer/2693767">{{_("Click here for help (Google Chrome).")}}</a></i></p>
        </div>
    </div>
    <div class="animate-show" ng-show="showSettings">
        <i style="padding-right:140px">{{_("Please set your user details and settings.")}}<p class="help-subline">{{_("Please note that some settings require you to reload or to make a new call to become effective.")}}</p></i>
    </div>
</div>
