<%define "mainPage"%><!doctype html>
<html class="no-js">
<head>
<%template "head" .%>
</head>
<body ng-controller="MediastreamController">
<div id="background"></div>
<div id="loader"><div><i class="fa fa-circle-o-notch fa-spin"></i><div class="loader-message"></div></div></div>
<page></page>

<header class="navbar navbar-default navbar-fixed-top bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand left">
                <%template "logo" .%>
            </div>
            <div class="nav navbar-nav middle visible-xs">
                <status-message></status-message>
            </div>
        </div>
        <nav class="navbar-collapse collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav middle hidden-xs">
                <status-message></status-message>
            </ul>
            <ul class="nav navbar-nav navbar-right right ng-cloak">
                <button title="{{_('Present a file')}}" class="btn aenablebtn" ng-show="status=='connected' || status=='conference' || layout.presentation" ng-model="layout.presentation" btn-checkbox><i class="fa fa-folder-open-o"></i></button>
                <button title="{{_('Share your screen')}}" class="btn aenablebtn" ng-show="isChrome && webrtcDetectedVersion >= 32 && (status=='connected' || status=='conference' || layout.screenshare)" ng-model="layout.screenshare" btn-checkbox><i class="fa fa-desktop"></i></button>
                <button title="{{_('Chat')}}" class="btn" ng-class="{messagesunseen: chatMessagesUnseen>0}" ng-model="layout.chat" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-comments-o"></i><span class="badge" ng-show="chatMessagesUnseen" ng-bind="chatMessagesUnseen"></span></button>
                <button title="{{_('Mute microphone')}}" class="btn amutebtn" ng-model="microphoneMute" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-microphone-slash"></i></button>
                <button title="{{_('Turn camera off')}}" class="btn amutebtn" ng-model="cameraMute" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-eye-slash"></i></button>
                <button title="{{_('Settings')}}" class="btn" ng-model="layout.settings" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-cog"></i></button>
            </ul>
        </nav>
    </div>
</header>
<div id="roombar" class="ng-cloak">
    <room-bar/>
</div>
<div id="audiolevel" class="ng-cloak">
    <div class="audio-level" title="{{_('Your audio level')}}"></div>
</div>
<div id="audiovideo" class="ng-cloak" ng-show="peer">
    <audio-video/>
</div>
<div id="screenshare" class="ng-cloak mainview">
    <screenshare/>
</div>
<div class="ng-cloak" id="rightslide">
    <div class="rightslidepane">
        <div id="buddylist"><buddy-list/></div>
        <div id="chat"><chat/></div>
    </div>
</div>
<div class="ng-cloak" id="settings" ng-class="{show: layout.settings}"><settings/></div>
<script data-main="<%.Cfg.S%>/js/<%.App%>" data-plugin="<%.Cfg.Plugin%>" src="<%.Cfg.S%>/js/libs/require/require.js"></script>
<%template "extra-body" .%>
</body>
</html><%end%>
