<%define "mainPage"%><!doctype html>
<html class="no-js" lang="<% index .Languages 0%>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
<%template "head" .%>
</head>
<body ng-controller="MediastreamController">
<div id="background"></div>
<div id="loader"><div><i class="fa fa-spinner fa-spin"></i></div></div>
<div class="ng-cloak" id="help">
    <usability/>
</div>
<div id="bar">
    <div class="left">
    	<%template "logo" .%>
    </div>
    <status-message ng-controller="StatusmessageController"></status-message>
    <div class="ng-cloak right">
        <button title="{{_('Share your screen')}}" class="btn aenablebtn" ng-show="master.settings.screensharingMedia && (status=='connected' || status=='conference' || enabledScreenshare)" ng-model="enableScreenshare" btn-checkbox><i class="fa fa-desktop"></i></button>
        <button title="{{_('Chat')}}" class="btn" ng-model="chatEnabled" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-comments-o"></i></button>
        <button title="{{_('Mute microphone')}}" class="btn amutebtn" ng-model="microphoneMute" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-microphone-slash"></i></button>
        <button title="{{_('Turn camera off')}}" class="btn amutebtn" ng-model="cameraMute" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><i class="fa fa-eye-slash"></i></button>
        <button title="{{_('Settings')}}" class="btn" ng-model="showSettings" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"><i class="fa fa-cog"></i></button>
    </div>
</div>
<div id="roombar" class="ng-cloak">
    <room-bar/>
</div>
<div id="audiolevel" class="ng-cloak">
    <div class="audio-level" title="{{_('Your audio level')}}"></div>
</div>
<div id="audiovideo" class="ng-cloak" ng-show="peer" ng-class="{'leftsided': mainview}">
    <div id="container">
        <audio-video/>
    </div>
</div>
<div id="screenshare" class="ng-cloak mainview" ng-show="mainview=='screenshare'">
    <screenshare/>
</div>
<div class="ng-cloak nicescroll" id="rightslide" ng-class="{slideright: !showBuddylist}">
    <div class="rightslidepane">
        <div id="buddylist"><buddy-list/></div>
        <div id="chat"><chat/></div>
    </div>
</div>
<div class="ng-cloak" id="settings" ng-class="{show: showSettings}"><settings/></div>
<script data-main="<%.Cfg.S%>/js/<%.App%>" data-plugin="<%.Cfg.Plugin%>" src="<%.Cfg.S%>/js/libs/require/require.js"></script>
<div class="ng-cloak" id="details">{{id}}</div>
<%template "extra-body" .%>
</body>
</html><%end%>