<div welcome class="welcome container-fluid">
	<div class="welcome-logo"></div>
	<div class="welcome-container">
		<h1>{{_("Enter a room name")}}</h1>
		<p>
		  <div class="form-group welcome-input">
		    <input type="text" class="form-control roomdata-link-input input-lg" ng-model="roomdataInput.name" placeholder="{{roomdata.name||_('Creating room ...')}}">
		    <div class="welcome-input-buttons">
		      <a class="fa fa-refresh" ng-click="randomRoom()"></a>
		      <button class="btn btn-primary btn-roomcreate" type="button" ng-disabled="!roomdata.link" ng-click="joinRoomByName(roomdata.name)">{{_("Go")}}</button>
		    </div>
		  </div>
		</p>
	    <p ng-show="roomdata.name"><i class="fa fa-link" title="{{_('Room link')}}"></i> <a href="{{roomdata.link}}" ng-click="joinRoomByName(roomdata.name);$event.preventDefault()">{{roomdata.link}}</a></p>
	</div>
</div>
