<div class="welcome container-fluid" ng-controller="RoomchangeController">
	<div class="welcome-logo"></div>
	<h1>{{_("Create a room and talk together")}}</h1>
	<div class="welcome-container">
		<p>
		  <div class="form-group welcome-input">
		    <input type="text" class="form-control roomdata-link-input input-lg" ng-model="roomdata.name" placeholder="{{_('Creating room ...')}}">
		    <div class="welcome-input-buttons">
		      <a class="fa fa-refresh" ng-click="refreshRoom()"></a>
		      <button class="btn btn-primary roomcreate-btn" type="button" ng-disabled="!roomdata.link" ng-click="changeRoomToId(roomdata.name)">{{_("Create")}}</button>
		    </div>
		  </div>
		</p>
		<center>
		    <p ng-show="roomdata.name"><i class="fa fa-external-link"></i> <a href="{{roomdata.link}}" ng-click="changeRoomToId(roomdata.name);$event.preventDefault()">{{roomdata.link}}</a></p>
		</center>
	</div>
</div>
